.heading{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: rgb(130, 130, 130);
    width: 20%;
    font-size: 1.6rem;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

section::after{
  content: "";
  display: table;
  clear: both;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
}
.car {
  float: left;
  width: 30%;
  background: #ccc;
  padding: 20px;
}

.menu_selected {
    font-size: inherit;
    line-height: 1.5;
    margin: 0px;
    cursor: pointer;
    padding: 0.8rem 2rem;
    font-weight: 500;
    color: rgb(237, 90, 107);
    border-right: 3px solid rgb(237, 90, 107);
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(247, 235, 236));
}
.menu_unselected{
    font-size: inherit;
    line-height: 1.5;
    margin: 0px;
    cursor: pointer;
    padding: 0.8rem 2rem;
    font-weight: 300;
    color: rgb(28, 28, 28);
    border-right: none;
    background: none;
}
aside {
  width: 10%;
  padding: 15px;
  margin-left: 15px;
  float: right;
}
.button{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.inner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 8.2rem;
    height: 3.2rem;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 0.6rem;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    background: rgb(255, 255, 255);
}

.text{
    color: rgb(28, 28, 28);
    font-size: 1.4rem;
    margin: 0px 0.5rem;
    font-weight: 500;
}
.image_right{
  border-radius: 15px 50px 30px;
}
