.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}


.progress-bar {
  height: 8px;
  background: #F14F2C;
  width: 0%;
}

.col-lg-4col-xs-6{
    display: inline-block;
    text-align: left;
    text-decoration: none;
    color: rgb(130, 130, 130);
    /* margin-bottom: 1.2rem; */
    width: 20%;
    font-size: 1.6rem;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}
